{% extends "account/base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block styles %}
<!-- login-form styles -->
<link rel="stylesheet" href="{% static 'master/css/accounts/signin.css' %}">
{% endblock %}

{% block content %}

<body class="bg-white">
  <!--Main layout-->
  <main>
    <div class="container">
      {% if not messages %}
      <div class="mt-5 pt-4">
        {% endif %}
        <!--Section: Sign In v.3-->
        <section class="text-center mb-4 spc-down">
          <!--Grid row-->
          <div class="row wow fadeIn spc-down spc2-up">
            <div class="col-12">
              <div class="form-signin spc2-up brd spc-down">
                <h1 class="spc-down">{% trans "Sign In" %}</h1>

                {% if errors %}
                <div class="alert alat-error alert-dismissable fade show">{{ error }}</div>
                {% endif %}

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                <div class="socialaccount_ballot">

                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>

                  <div class="login-or">{% trans 'or' %}</div>

                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

                {% endif %}

                <form method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  <div class="form-group spc2-down">
                    <input class="form-control" type="text" name="login" placeholder="Username" autofocus="autofocus"
                      maxlength="150" required id="id_login">
                  </div>
                  <div class="form-group spc2-down">
                    <input class="form-control" type="password" name="password" placeholder="Password" required
                      id="id_password">
                  </div>
                  <div class="form-group spc2-up float-left">
                    <label for="id_remember" class="font-weight-light rem">Remember Me</label>
                    <input type="checkbox" name="remember" id="id_remember">
                  </div>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="btn btn-block btn-green clr-light font-weight-normal" type="submit">
                    {% trans 'Login' %}&nbsp;<i class="fa fa-sign-in-alt"></i></button>
                </form>
                <hr>
                <div class="row spc2-up spc2-down">
                  <div class="col-6">
                    <a class="link float-left" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
                  </div>
                  <div class="col-6">
                    <a class="link float-right" href="{% url 'account_signup' %}">{% trans "Create an account" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <!-- Main Content -->
</body>
{% endblock %}