{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<body class="bg-whitesmoke">
  <!--Main layout-->
  <main>
    <div class="container">
      {% if not messages %}
      <div class="mt-5 pt-4">
        {% endif %}
        <!--Section: Sign In v.3-->
        <section class="text-center mb-4">
          <!--Grid row-->
          <div class="row wow fadeIn spc-down spc-up">
            <div class="col-12">
              <h1>{% trans "Change Password" %}</h1>
              <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</body>
{% endblock %}