{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block styles %}
<!-- login-form styles -->
<link rel="stylesheet" href="{% static 'master/css/accounts/signin.css' %}">
{% endblock %}

{% block content %}

<body class="bg-white">
  <!--Main layout-->
  <main>
    <div class="container">
      {% if not messages %}
      <div class="mt-5 pt-4">
        {% endif %}
        <!--Section: Sign In v.3-->
        <section class="text-center mb-4 spc-down">
          <!--Grid row-->
          <div class="row wow fadeIn spc-down spc2-up">
            <div class="col-12">
              <div class="form-signin brd">
                <h1 class="spc-down">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="spc-down">
                  {% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset spc-down">
                  {% csrf_token %}
                  <div class="form-group spc-down">
                    <input class="form-control" type="email" name="email" size="30" placeholder="E-mail address"
                      required id="id_email">
                  </div>
                  <button class="btn btn-green btn-outline bg-success btn-block"
                    type="submit">{% trans 'Reset My Password' %}</button>
                  <hr>
                </form>
                <p>
                  {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
                <div class="row text-center spc-down">
                  <div class="col-12">
                    <a class="spc-up text-3 link"
                      href="{% url 'account_reset_password' %}">{% trans "Help & Support" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</body>
{% endblock %}