{% extends 'base.html' %}{% load static %}
{% block head_title %}Product{% endblock head_title %}
{% block content %}

<body class="bg-whitesmoke">
  <!--Main layout-->
  {% if not messages %}
  <main class="mt-5 pt-4">
    {% endif %}
    <div class="container dark-grey-text mt-5">
      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{% static 'mdb/img/products/5.jpg' %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!--Content-->
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge text-light bg-{{ object.get_label_display }} mr-1">
                  {{ object.get_category_display }}
                </span>
                {% if object.get_discounted is not 0 and object.get_discounted is not None %}
                <span class="badge bg-orange text-white mr-1">{{ object.get_discounted }}</span>
                {% endif %}
              </a>

            </div>

            <p class="lead">
              <span class="mr-1">
                {% if object.discount_price and object.prices_are_ok %}
                <span class="del text-3">${{ object.price }}</span>
                <span class="text-2" style="color:darkgreen !important;">${{ object.discount_price }}</span>
                {% else %}
                <span class="text-2" style="color:darkgreen !important;">${{ object.price }}</span>
                {% endif %}
              </span>
            </p>

            <p class="lead font-weight-bold">Description</p>
            <p>{{ object.description }}</p>
            {% comment '' %}
            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-success btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
              {% endcomment %}
              <a class="btn btn-primary btn-md my-0 p" href="{{ object.get_add_to_cart_url }}">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>

              <a class="btn btn-danger btn-md my-0 p" href="{{ object.get_remove_from_cart_url }}">
                Remove from cart
                <i class="fas fa-times ml-1"></i>
              </a>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="{% static 'mdb/img/products/4.jpg' %}" class="product-dp img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{% static 'mdb/img/products/8.jpg' %}" class="product-dp img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{% static 'mdb/img/products/12.jpg' %}" class="product-dp img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
</body>
{% endblock content %}